extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Billy Pham

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am in Full Stack training at Treehouse
            | I'm interested in coding.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li JavaScript
          li jQuery
          li NodeJS
          li Pug
          li React
          li Java
          li Python

        h6 Contact Info

        ul
          li Cellphone: 722-222-1111
          li Email: billy1234@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/billy-p-a1690bb6/') LinkedIn
        a.button.expanded(href='https://github.com/NPHAM12') GitHub
  
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
