extends layout.pug

block content
  article.grid-container.portfolio-intro
    div

      h1 Take some minutes to see my Portfolio

      p.lead.text-light
        | Here is the list of my Team Treehouse projects.<br>They're coded in JS, jQuery, Ajax, HTML, and CSS

  article.grid-container.portfolio-index

    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in listOfProjects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src = project.image_urls[0] alt=`project.project_name`)
            h5=project.project_name
